.App {
  padding: 5px;
  background-color:gainsboro;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  border: 2px solid goldenrod;
  margin: 1px;
}
.name{
  font-size: 50px;
  font-feature-settings: "liga", "clig";
  font-variant: petite-caps;
  color: darkgreen;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
